@charset "utf-8";

/* +++++++++++++++++++++++++++++++++ 공통 +++++++++++++++++++++++++++++++++ */
*{margin:0; padding:0;}
.inner{max-width: 1440px; margin: 0 auto; min-width: 1100px;}
body{background-image: url(../images/bg.png);}

/* +++++++++++++++++++++++++++++++++ 픽스 +++++++++++++++++++++++++++++++++ */
#chatbot{position: fixed; z-index: 99999; bottom: 30px; right: 120px;}
#popup{position: fixed; z-index: 99999; bottom: 30px; right: 280px; display: none;}

/* +++++++++++++++++++++++++++++++++ 헤더 +++++++++++++++++++++++++++++++++ */
#header{background-color: rgba(0, 0, 0, 0.03); height: 120px; width: 100%; position: absolute;
        z-index: 9999;}
#header .inner{display: flex; flex-direction: row; flex-wrap: nowrap;}
#header .logo{margin-top: 20px; margin-right: 58px; margin-left: 70px;}

#nav{margin-top: 52px;}
#nav::after{content: ''; display: block; width: 100%; background-color: #fff; height: 200px;
            position: absolute; top: 120px; left: 0; height: 0; overflow: hidden; transition: height 0.5s;}
#nav:hover::after{height: 200px;}           
/* #nav ul{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;}
#nav li{padding-right: 26px; font-size: 1.1rem; font-weight: bold} */
#nav .spacing{margin-right: 200px;}
#nav .franchise_icon{background: url(../images/franchise_icon.png) no-repeat;
                             background-position: 1px; padding: 1.5px;
                             padding-left: 39px; height: 30px; color: #F21F0C;}
#nav .solid{padding-left: 25px;position: relative;}
#nav .solid::before{content: ''; display:block; width:1px; height:20px;
                            background: #000; position: absolute; left:0}

#nav .nav_left{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center;}
#nav .nav_left .blue{color: blue;}
#nav .nav_left > li{width: 110px; position: relative; text-align: center;}
#nav .nav_left .margin_r{padding-right: 5px;}
#nav .nav_left > li > a{width: 100%; font-size: 1.1rem; font-weight: bold; padding-bottom: 46px;}
#nav .nav_left .border:hover{border-bottom: 2px solid #C51C1C; padding-bottom: 5px;}
#nav .nav_left ul{position: absolute; z-index: 99; width: 100%; top: 30px; padding-top: 44px;
                 opacity: 0; height: 0; overflow: hidden;}
#nav .nav_left:hover > li ul{opacity: 1; height: 200px; transition: opacity 0.5s, height 0.5s;}
#nav .nav_left ul li{padding: 9px 0; font-size: 15px}
#nav .nav_left ul li:hover a{color: #C51C1C;}

#nav .nav_right{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center;
                font-size: 1.1rem; font-weight: bold;}
#nav .nav_right li{margin-left: 25px;}
/* +++++++++++++++++++++++++++++++++ 섹션1,2,3,4,5 +++++++++++++++++++++++++++++++++ */
#slide{bottom:193px;}
#slide img{width: 100%;}
#slide .slick-arrow {display: block; position: absolute; top: 50%; z-index: 999;}
#slide .slick-arrow.slick-prev {left: 253px; border: none; font-size: 0;
                        width: 33px; height: 75px; background: none;
                        background-image: url(../images/main_bt1.png); background-repeat: no-repeat;}
#slide .slick-arrow.slick-next {right: 253px;  border: none; font-size: 0;
                        width: 33px; height: 75px; background: none;
                        background-image: url(../images/main_bt2.png); background-repeat: no-repeat;}
#slide .slick-dots{position: absolute; bottom: 50px; right: 50%; display: flex; flex-direction: row;}
#slick-slide-control00{background: none; border: 0; font-size: 0;
                        width: 20px; height: 21px;
                        background-image: url(../images/slide_star.png);
                        background-repeat: no-repeat;
                        margin-right: 8px; margin-bottom: 5px;}
#slick-slide-control01{background: none; border: 0; font-size: 0;
                        width: 13px; height: 13px;
                        background-image: url(../images/slide_phasor.png);
                        background-repeat: no-repeat;}

#setion1{position: absolute; bottom: 100px;}
#section1 .inner{position: relative;}
#section1 article{height: 78px; background-color: #C51C1C; border-radius: 50px; width: 1142px;
         display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center;
         position: absolute; left: 11%; top: -40px;} 
/* 공지사항, 보도자료 내용 */         
#section1 .newsbox_all{display: flex; flex-direction: row; flex-wrap: nowrap;
                         color: #fff; margin-top: 28px;}
#section1 .news_box{display: flex; flex-direction: row; flex-wrap: nowrap; width: 550px;}
#section1 .news_box2{display: flex; flex-direction: row; flex-wrap: nowrap; width: 540px;}

#section1 .padding_r{padding-right: 17px;}
#section1 .st{font-weight: bold; width: 75px;}
#section1 .newsbox_txt{width: 480px;}

#section1 .solid{padding-left: 17px; position: relative;}
#section1 .solid::before{content: ''; display:block; width:1px; height:20px;
                         background: #fff; position: absolute; left:0}
/* 공지사항, 보도자료 내용 */    
#section2{margin-top: 170px; margin-bottom: 190px;}
#section2 h3{display: inline-block; width: 180px; margin-left: 43%; font-size: 30px;
             margin-bottom: 70px; font-size: 2rem;
             background-image: url(../images/redcircle.png); background-repeat: no-repeat;
             background-position: top right;}
#section2 ul{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly;}
#sectino2 li img{width:100%;}
#section2 .sec2_text{text-align: center; font-size: 1rem; font-weight: bold; margin-top: 15px;}
#section2 .solid_up:hover{color:#C51C1C}
#section2 .slick-slide img{margin: 18px;}
#section2 .slick-arrow {display: block; position: absolute; top: 50%; z-index: 999;}
#section2 .slick-arrow.slick-prev {left: 28px; border: none; font-size: 0;
                                    width: 18px; height: 39px; background: none;
                                    background-image: url(../images/main_bt3.png); background-repeat: no-repeat;}
#section2 .slick-arrow.slick-next {right: 28px;  border: none; font-size: 0;
                                    width: 18px; height: 39px; background: none;
                                    background-image: url(../images/main_bt4.png); background-repeat: no-repeat;}

#section3{margin-bottom: 180px; position: relative;}
#section3 h3{position: absolute; z-index: 9999; top: 0; left: 47%; margin-top: 35px;
             font-size: 1.8rem; color: #FFF; font-weight: normal;}
#section3 .appbanner{position: absolute;}
#section3 .inner{position: relative;}
#section3 p{display: inline;}
#section3 .appbanner img{width: 100%;}
#section3 .download{font-size: 1.2rem; display: flex; flex-direction: column; flex-wrap: nowrap;
                    text-align: left; padding-top: 130px; padding-left: 868px; color: #fff;
                    font-size: 24px;}
#section3 .download .download_solid:hover{border-bottom: 2px solid #fff;}
#section3 .download .android img{padding-left: 5px;}
#section3 .download .ios{padding-top: 32px;}
#section3 .download .ios img{padding-left: 5px;}
#section3 .button{padding-top: 32px; padding-left: 838px;}
#section3 .bt1{margin-right: 30px;}

#section4{margin-bottom: 150px;}
#section4 h3{display: inline-block; width: 170px; margin-left: 45%; font-size: 30px;
            margin-bottom: 10px; font-size: 2rem;
            background-image: url(../images/redcircle.png); background-repeat: no-repeat;
            background-position: top right;}
#section4 .sns_id{ text-align: center; font-size: 16px; margin-left: 9px; margin-bottom: 70px;}
#section4 ul{display: flex; flex-direction: row; flex-wrap: nowrap; margin-left: 57px;}
#section4 ul li img{border: 0 solid #fff; border-radius: 25px;}

#section5{margin-bottom: 120px;}
#section5 .inner{position: relative; z-index: 9999;}
#section5 img{width: 100%;}
#section5 .franchise_bt{position: absolute; bottom: 124px; left: 70px;}
/* +++++++++++++++++++++++++++++++++ 푸터 +++++++++++++++++++++++++++++++++ */
#footer .inner{display: flex; flex-direction: row; flex-wrap: nowrap;
                margin-bottom: 100px;}

#footer .foot_left{width: 55%; margin-top: 50px;}
#footer .foot_left .top{font-weight: bold; margin-bottom: 84px;
                        display: flex; flex-direction: row; flex-wrap: nowrap;}
#footer .foot_left .top a{margin-right: 57px;}
#footer .foot_left .under .hollys{margin-bottom: 20px;}
#footer .foot_left .under .company{margin-bottom: 20px;}     
#footer .foot_left .under .copy {color: #8E8E8E;}

#footer .foot_right{width: 45%; background-image: url(../images/logo2.png); background-repeat: no-repeat;
                    background-position: 60%;}
#footer .foot_right .sns{display: flex; flex-direction: row; flex-wrap: nowrap;
                        margin-top: 260px;}
#footer .foot_right .sns img{padding-right: 20px;}